site_name: pyCLAD -- Continual Lifelong Anomaly Detection
theme:
  name: material
  highlightjs: true
nav:
  - Home: index.md
  - API Reference:
      - Callbacks: 'api/callbacks.md'
      - Data: 'api/data.md'
      - Metrics: 'api/metrics.md'
      - Models: 'api/models.md'
      - Strategies: 'api/strategies.md'
plugins:
  - search
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        python:
          paths: [src]
          options:
            docstring_style: sphinx
            show_submodules: true
markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition: {}
